* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: .75rem;
    font-weight: 500;
}

.form {
    margin: .75rem 0;
    padding: 1.25rem;
}

.row {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form--label {
    font-weight: 300;
}

.form--input {
    padding: .4rem;
    margin-top: .15rem;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    width: 100%;
    font-family: "Inter", sans-serif;
    /* text-indent: 5px; */
}

.btn {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: .45rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-bottom: 2rem;
}


.meme {
    position: relative;
    display: flex;
    justify-content: center;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
